<%= content_for(:meta_og) do %>
    <meta property="og:title" content="Gambe.ro: richiesta inviti"/>
    <%= tag :meta, property: 'og:image', content: image_url("gambero.png") %>
    <meta property="og:description" content="Richiedi un invito per Gambe.ro" />
      
    <% end %>


<div class="box wide">
  <div class="legend">
  <%= t('.buildinvtitle') %>
  </div>

  <%= raw t('.buildinvtext') %>

  <%= form_for @invitation_request,
  :url => create_invitation_by_request_path do |f| %>
    <p>
    <%= f.label :name, t('.buildinvname') %>
    <%= f.text_field :name, :size => 30 %>
    <br />

    <%= f.label :email, t('.buildinvemail') %>
    <%= f.email_field :email, :size => 30 %>
    <br />

    <%= f.label :memo, t('.buildinvurl') %>
    <%= f.text_field :memo, :size => 30 %>
    <br />
    <label></label>
    <span class="na"><%= t('.buildinvverificationurl') %></span>
    </p>

    <p>
    <%= submit_tag t('.buildinvrequest') %>
    </p>
  <% end %>
</div>
